*~
*.bak
.idea/
.settings/
.classpath
.project
.vscode
/docker-compose.override.yml
/local-data
/peer-backups
/target
/package/.extract
/scratch
/*.tar.gz
/*.tar.gz.enc
.run/
node_modules/
/nohup.out
