services:
  nanodash:
    build: .
    image: nanopub/nanodash:latest
    restart: unless-stopped
    ports:
      - "37373:8080"
    volumes:
      - ./local-data:/root/.nanopub
      - .:/local
    logging:
      options:
        max-size: "10m"
        max-file: "3"
