<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<span class="user-icon textfield-icon"></span>

<span class="tooltip" onmouseenter="disableTooltips()">
<span class="tooltiptext">
<span wicket:id="description"></span>
<a wicket:id="uri" class="uri" href="#" target="_blank"></a>
</span>

<select class="nanopub-textfield" wicket:id="textfield"></select>

</span>

</wicket:panel>

</body>

</html>
