<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
</head>
<body style="margin-left: auto; margin-right: auto; margin-top: 20px; max-width: 1400px">

<wicket:panel>
  <span wicket:id="datetime"></span>
  <span class="k-input k-input-solid k-input-md k-rounded-md" style="width: 180px">
      <select wicket:id="timezone-dropdown" style="width: 120px" class="k-input-inner"></select>
      <span class="k-input-button k-button k-button-md k-button-solid k-button-solid-base k-icon-button"><span
          class="k-icon k-i-globe-outline k-button-icon"></span>
      </span>
    </span>
</wicket:panel>

</body>

</html>
