<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
  <span class="actionmenu calendar-menu">
    <button type="button" class="actionmenu-button actionmenu-button-labeled" aria-label="calendar actions"><span
        wicket:id="buttonLabel">Add to calendar</span></button>
    <span class="actionmenu-content">
      <span wicket:id="entries" class="actionmenu-item"><a wicket:id="link">entry</a></span>
    </span>
  </span>
</wicket:panel>
</body>
</html>
