<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
</head>
<body>

<wicket:panel>
  <span class="actionmenu" style="top: 0px; margin-left: 2px;">
    <button type="button" class="actionmenu-button" aria-label="calendar actions"
            style="padding: 0 3px; min-width: 18px;"></button>
    <span class="actionmenu-content">
      <wicket:container wicket:id="actions">
        <a wicket:id="link" target="_blank"
           style="display: block; padding: 4px 8px; text-decoration: none; color: #0B73DA;">action</a>
      </wicket:container>
    </span>
  </span>
</wicket:panel>

</body>

</html>