<wicket:panel>
  <details>
    <summary>Raw page content</summary>
    <p>
      <a href="#" target="_blank" wicket:id="trig">TriG</a>(<a href="#" target="_blank" wicket:id="trig-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="jsonld">JSON-LD</a>(<a href="#" target="_blank" wicket:id="jsonld-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="nq">N-Quads</a>(<a href="#" target="_blank" wicket:id="nq-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="trix">TriX</a>(<a href="#" target="_blank" wicket:id="trix-txt">txt</a>)
    </p>
  </details>
</wicket:panel>
