<wicket:panel>
  <details>
    <summary>Raw page content</summary>
    <p>Full nanopublications:
      <a href="#" target="_blank" wicket:id="trig">TriG</a>(<a href="#" target="_blank" wicket:id="trig-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="jsonld">JSON-LD</a>(<a href="#" target="_blank" wicket:id="jsonld-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="nq">N-Quads</a>(<a href="#" target="_blank" wicket:id="nq-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="trix">TriX</a>(<a href="#" target="_blank" wicket:id="trix-txt">txt</a>)
    </p>
    <p>Assertions only:
      <a href="#" target="_blank" wicket:id="turtle">Turtle</a>(<a href="#" target="_blank" wicket:id="turtle-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="a-jsonld">JSON-LD</a>(<a href="#" target="_blank" wicket:id="a-jsonld-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="nt">N-Triples</a>(<a href="#" target="_blank" wicket:id="nt-txt">txt</a>),
      <a href="#" target="_blank" wicket:id="rdfxml">RDF/XML</a>(<a href="#" target="_blank" wicket:id="rdfxml-txt">txt</a>)
    </p>
  </details>
</wicket:panel>
