<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
  <span class="link-actions-panel">
    <a wicket:id="externalLink" target="_blank" rel="noopener noreferrer"></a>

    <a wicket:id="copyLinkButton" class="copy-link-btn">
      <img wicket:id="copyIcon" alt="Copy link" width="16" height="16"/>
    </a>

    <a wicket:id="exploreButton" class="button">
      <span wicket:id="exploreLabel">Explore</span>
    </a>
  </span>
</wicket:panel>
</body>
</html>