<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body style="margin-left: auto; margin-right: auto; max-width: 1420px">

<wicket:panel>

<input type="text" wicket:id="filter" placeholder="Filter..." style="margin: 5px 10px; padding: 2px 5px; font-size: 12px; width: 150px;"/>

<!-- This needs to be on one line so we can use ul:empty in CSS: -->
<ul><li wicket:id="itemlist"><span wicket:id="item">item</span></li></ul>

<p class="emptynotice"><em>(none)</em></p>

<div class="navigation" wicket:id="navigation">
<div class="navigatorLabel" wicket:id="navigatorLabel"></div>
<div class="navigator" wicket:id="navigator"></div>
</div>

</wicket:panel>

</body>

</html>
