<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body style="margin-left: auto; margin-right: auto; max-width: 1420px">

<wicket:panel>

<div class="listpanel">

<div class="paneltitlerow">
<h4 wicket:id="title">🚀 Title</h4>
<span wicket:id="filterContainer"><input type="text" wicket:id="filter" placeholder="Filter..." style="margin: 0 10px; padding: 2px 5px; font-size: 12px; width: 150px;"/></span>
<span wicket:id="buttons" class="buttons"></span>
</div>

<p wicket:id="description">Description...</p>

<div wicket:id="itemlist"></div>

</div>

</wicket:panel>

</body>

</html>
