<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>
<span class="nowrap"><span class="quote">"</span><textarea class="nanopub-textfield" wicket:id="textarea" rows="4"></textarea><span class="quote">"</span></span>
<span wicket:id="language" class="litlang">language</span>
<span wicket:id="datatype" class="litdatatype">datatype</span>
</wicket:panel>

</body>

</html>
