<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
</head>
<body>

<wicket:panel>
  <span class="nowrap">
    <span wicket:id="datetime"></span>
    <span class="k-input k-input-solid k-input-md k-rounded-md" style="width: 180px">
      <select wicket:id="timezone-dropdown" style="width: 120px" class="k-input-inner"></select>
      <button class="k-input-button k-button k-button-md k-button-solid k-button-solid-base k-icon-button"
              unselectable="on"><span class="k-icon k-i-globe-outline k-button-icon"></span>
      </button>
    </span>
  </span>
  <span wicket:id="datatype" class="litdatatype">datatype</span>
</wicket:panel>

</body>

</html>
