<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<div class="filter">
<span>
show:
<label><input wicket:id="showp" type="checkbox" /><span class="nanopub-provenance">provenance</span></label>
<label><input wicket:id="showi" type="checkbox" /><span class="nanopub-pubinfo">pubinfo</span></label>
</span>
</div>

<div wicket:id="nanopubs">
<span wicket:id="nanopub"></span>
</div>
</wicket:panel>

</body>

</html>
