<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel><span class="tooltip">
<span class="tooltiptext">
<span wicket:id="description">description</span>
<a wicket:id="uri" class="uri" href="#" target="_blank">http://example.org/foo</a>
</span>
<a wicket:id="link" href="#">link</a>
</span></wicket:panel>

</body>

</html>
