<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<p>
<span class="negative">This nanopublication cannot be superseded or overridden.</span>
It is not the <a wicket:id="latest-link" href=".">latest version</a> anymore.
</p>

<p>
<a wicket:id="latest-action-link" href="." class="button">continue with latest version</a>
</p>

</wicket:panel>

</body>

</html>
