<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body style="margin-left: auto; margin-right: auto; max-width: 1420px">

<wicket:panel>

<div wicket:id="pin-groups">
<div class="col-6" wicket:id="pin-group"></div class="col-6">
</div>

<div class="col-6" wicket:id="emptynotice">
<p class="emptynotice"><em>(nothing has been pinned yet)</em></p>
</div>

</wicket:panel>

</body>

</html>
