<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<div class="paneltitlerow"><h4>Recommended Actions</h4></div>

<p wicket:id="intro-note"></p>

<p wicket:id="action-note"></p>

<ul>
<li wicket:id="publish-intro-item"><a wicket:id="publish-intro-link" class="button"></a></li>
<li wicket:id="derive-intro-item">Use <em>'derive new introduction'</em> in the table below to declare the given keys alongside the local key from this site.</li>
<li wicket:id="include-keys-item">Use <em>'include keys'</em> in the table below to declare the missing keys also in the introduction from this site.</li>
<li wicket:id="retract-intro-item">You have <strong class="negative">multiple introductions from this site</strong>. Retract redundant introductions using <em>'retract'</em> in the table below.</li>
<li wicket:id="update-approved-item">Go to the site where you created your approved introduction and include the local key from this site there.</li>
<li wicket:id="get-approval-item">Ask <a href="./userlist">an approved user</a> to approve your introduction:
   <code><a wicket:id="introduction-to-be-approved"></a></code></li>
<li wicket:id="orcid-linking-item">Follow <a href="./orcidlinking">these guidelines</a> to link your introduction from your ORCID account.</li>
</ul>

<div class="paneltitlerow tablepanel"><h4>👋 Introductions</h4></div>

<table>
<thead>
<tr><th>date</th><th>location</th><th>keys</th><th>np</th><th></th></tr>
</thead>
<tbody>
<tr wicket:id="intro-nps">
<td><span wicket:id="date"></span></td>
<td><span wicket:id="location"></span></td>
<td><span wicket:id="intro-keys"><code wicket:id="intro-key"></code> </span></td>
<td><a wicket:id="intro-uri"><span wicket:id="intro-uri-label"></span></a> <span wicket:id="intro-note"></span></td>
<td>
<a wicket:id="retract-link" class="smallbutton button light"></a>
<a wicket:id="derive-link" class="smallbutton button light"></a>
<a wicket:id="include-keys-link" class="smallbutton button light"></a>
</td>
</tr>
</tbody>
</table>

</wicket:panel>

</body>

</html>
