<wicket:panel>
  <div class="account-box">
    <h4 class="account-box-title">🫵 This is you</h4>
    <p><a wicket:id="createIntro" class="button big">Create Introduction</a> <a wicket:id="logout" class="button light">logout</a></p>
    <form wicket:id="form">
      <code>https://orcid.org/</code><input wicket:id="orcidfield" type="text" size="20"/>
      <input type="submit" class="button" value="set"/>
    </form>
    <div wicket:id="feedback" class="negative"></div>
    <div wicket:id="sigpart"></div>
  </div>
</wicket:panel>
