<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
</head>
<body>

<wicket:panel>
  <div class="paneltitlerow">
  <h4>Profile Image</h4>
  </div>

  <p wicket:id="no-image-note"></p>

  <div wicket:id="image-container">
    <img wicket:id="image" class="user-profile-pic" style="margin-top: 10px;" alt="Profile image"/>
    <p>Image URL: <a wicket:id="image-url-link"></a></p>
  </div>

  <ul>
    <li wicket:id="publish-image-item"><a wicket:id="publish-image-link" class="smallbutton"></a></li>
  </ul>
</wicket:panel>

</body>
</html>
