<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<ul>
<li wicket:id="projectlist"><a wicket:id="projectlink"><span wicket:id="linktext">query</span></a></li>
</ul>

<div class="navigation" wicket:id="navigation">
<div class="navigatorLabel" wicket:id="navigatorLabel"></div>
<div class="navigator" wicket:id="navigator"></div>
</div>

</wicket:panel>

</body>

</html>
