<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<p>
<code wicket:id="label"></code>
is the <strong>local key</strong> that is used to sign your nanopublications on this site.
<span wicket:id="notes"></span>
</p>

<!--Full public key: <code wicket:id="fullkey" class="chars"></code>-->

</wicket:panel>

</body>

</html>
