<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<div class="paneltitlerow">
<h4>Introductions</h4>
</div>

<p wicket:id="intro-note"></p>

<ul>
<li wicket:id="intro-nps">
<a wicket:id="intro-uri"><span wicket:id="intro-uri-label"></span></a> <span wicket:id="intro-note"></span>
created on <span wicket:id="date"></span>
at <span wicket:id="location"></span>
declares keys: <span wicket:id="intro-keys"><code wicket:id="intro-key"></code></span>
</li>
</ul>

<div class="paneltitlerow">
<h4>Public Keys</h4>
</div>

<p wicket:id="keys-note"></p>

<ul>
<li wicket:id="keys"><code wicket:id="key-label"></code> <span wicket:id="key-note"></span></li>
</ul>

<p wicket:id="license-container">License: <a wicket:id="license"></a></p>

</wicket:panel>

</body>

</html>
