<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <meta charset="utf-8"/>
  <title wicket:id="pagetitle">... (list) | nanodash</title>
  <link rel="stylesheet" href="style.css?v=4.11.1" type="text/css" media="screen" title="Stylesheet"/>
  <link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
  <link rel="icon" type="application/svg+xml" href="images/favicon.svg">
</head>

<body>

<wicket:panel>
  <div class="paneltitlerow listpanel">
    <h4 wicket:id="title">[View Title]</h4>
    <div class="view-selector with-source">
      <span wicket:id="listEnabler" class="list"></span>
      <span wicket:id="gridEnabler" class="grid"></span>
      <span class="buttons" style="margin: 0;">
              <a href="." wicket:id="np" class="source" style="margin-top: 0;">^</a>
            </span>
    </div>
  </div>
  <div class="flex-container" wicket:id="nanopubs"></div>
</wicket:panel>

</body>
</html>