<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<span class="queryref"><a wicket:id="querylink"><span wicket:id="linktext">query</span></a><span wicket:id="status" class="status"> - by <span wicket:id="user">user</span>, <span wicket:id="timestamp">timestamp</span></span></span>

</wicket:panel>

</body>

</html>
