<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>

<wicket:panel>
  <div class="paneltitlerow listpanel">
    <h4 wicket:id="title">[View Title]</h4>
    <div wicket:id="viewSelector" class="view-selector with-source">
      <span wicket:id="listEnabler" class="list" onclick="toggleView();"></span>
      <span wicket:id="gridEnabler" class="grid" onclick="toggleView();"></span>
      <span class="buttons" style="margin: 0;">
        <wicket:container wicket:id="np">[np]</wicket:container>
      </span>
    </div>
  </div>
  <div class="flex-container" wicket:id="nanopubs"></div>
</wicket:panel>

</body>
</html>