<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<ul>
<li wicket:id="reactions"><em wicket:id="reactionnote"></em> <span wicket:id="reactiontext"></span> <a wicket:id="reactionlink"><span wicket:id="reactionlinktext"></span></a></li>
</ul>

<p class="emptynotice"><em>(no reactions yet)</em></p>

</wicket:panel>

</body>

</html>
