<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>

</head>
<body>

<wicket:panel>
<span wicket:id="prefix" class="valueitem">prefix</span>
<span class="tooltip">
<span class="tooltiptext">
<span wicket:id="description">description</span>
<a wicket:id="uri" class="uri" href="#" target="_blank">URI</a>
</span>
<div class="value-container">
<a wicket:id="link" class="readonly" href="#">link</a>
<div wicket:id="show-more-literal" onclick="showMore(this);" class="show-more"></div>
</div>
</span>
<div class="value-container">
<span wicket:id="extra" class="internal long-literal collapsed">
extra HTML content
</span>
<div wicket:id="show-more-html" onclick="showMore(this);" class="show-more"></div>
</div>
<span wicket:id="language" class="litlang">language</span>
<span wicket:id="datatype" class="litdatatype">datatype</span>
</wicket:panel>

</body>

</html>
