<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>
<span wicket:id="prefix" class="valueitem"></span>
<span class="tooltip">
<span class="tooltiptext">
<span wicket:id="description"></span>
<a wicket:id="uri" class="uri" href="#" target="_blank"></a>
</span>
<a wicket:id="link" class="readonly"></a>
</span>
<span wicket:id="extra">
<span class="internal">
HTML content...
</span>
</span>
</wicket:panel>

</body>

</html>
