<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
  <span class="actionmenu title-menu">
    <button type="button" class="actionmenu-button" aria-label="space actions"></button>
    <span class="actionmenu-content">
      <span wicket:id="groups" class="actionmenu-subitem">
        <span wicket:id="sublabel" class="actionmenu-sublabel">add to calendar</span>
        <span class="actionmenu-subcontent">
          <span wicket:id="entries" class="actionmenu-item"><a wicket:id="link">entry</a></span>
        </span>
      </span>
      <hr wicket:id="separator" class="actionmenu-separator"/>
      <span wicket:id="extraEntries" class="actionmenu-item"><a wicket:id="link">entry</a></span>
    </span>
  </span>
</wicket:panel>
</body>
</html>
