<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body style="margin-left: auto; margin-right: auto; max-width: 1400px">

<wicket:panel>

<table>
<thead>
<tr><th></th><th>Nanopublication count</th></tr>
</thead>
<tr><td>Latest versions:</td><td><span wicket:id="latestcount">X</span></td></tr>
<tr><td>Previous versions:</td><td><span wicket:id="previouscount">X</span></td></tr>
<tr><td>Accepted at journals:</td><td><span wicket:id="acceptedcount">X</span></td></tr>
</table>

</wicket:panel>

</body>

</html>
