<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>

</head>
<body style="margin-left:100px; margin-right:100px;">

<wicket:panel>

<div class="nanopub-statement">
<span class="valueitem subj" wicket:id="subj">subj</span>
<span class="valueitem pred" wicket:id="pred">pred</span>
<span class="valueitem obj" wicket:id="obj">obj</span>
<span class="fullstop">.</span>
<span class="nanopub-statement-float">
<span wicket:id="add-repetition" class="smallbutton">+</span>
<span wicket:id="remove-repetition" class="smallbutton">-</span>
</span>
</div>
<span class="optional-label" wicket:id="label">label</span>

</wicket:panel>

</body>

</html>
