<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<p>Choose a nanopublication template below.</p>

<div wicket:id="topics">
<h3><span wicket:id="title">title</span></h3>
<ul>
<li wicket:id="template-list"><a wicket:id="link"><span wicket:id="name">name</span></a><span class="status"> - by <span wicket:id="user">user</span>, <span wicket:id="timestamp">timestamp</span></span></li>
</ul>
</div>

</wicket:panel>

</body>

</html>
