<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<div class="row-section">

<div class="col-6">

<div wicket:id="popular-templates"></div>

</div>

<div class="col-6">

<div wicket:id="getstarted-templates"></div>

</div>

</div>

<div class="odd"><div class="row-section">

<div class="col-12">

<h3>All Templates</h3>

<div class="columncontainer">

<div wicket:id="topics" class="columnelement">
<div wicket:id="templates"></div>
</div>

</div>

</div>

</div></div>

</wicket:panel>

</body>

</html>
