<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
<link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>

<wicket:panel>

<div class="row-section">

<div class="col-6">

<h3>Popular Templates</h3>

<div wicket:id="populartemplates">
</div>

</div>

<div class="col-6">

<h3>Suggested Templates to Get Started</h3>

<div wicket:id="getstartedtemplates">
</div>

</div>

</div>

<div class="odd"><div class="row-section">

<div class="col-12">

<h3>All Templates</h3>

<div class="columncontainer">

<div wicket:id="topics" class="columnelement">
<h4><span wicket:id="title">title</span></h4>
<ul class="forms">
<li wicket:id="template-list"><span wicket:id="template">template</span></li>
</ul>

<div class="navigation" wicket:id="navigation">
<div class="navigatorLabel" wicket:id="navigatorLabel"></div>
<div class="navigator" wicket:id="navigator"></div>
</div>

</div>

</div>

</div></div>

</div>

</wicket:panel>

</body>

</html>
