<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <link rel="stylesheet" href="../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
</head>
<body style="margin-left: auto; margin-right: auto; max-width: 1420px">

<wicket:panel>
  <wicket:container wicket:id="groups">
    <div class="row-section">
      <div class="listview" wicket:id="views">
        <div wicket:id="view">...</div>
      </div>
    </div>
  </wicket:container>

  <div class="row-section" wicket:id="emptynotice">
    <div class="col-6">
      <p class="emptynotice"><em>(no views have been added yet)</em></p>
    </div>
  </div>

  <div class="row-section" wicket:id="footer-section">
    <div class="col-12">
      <div wicket:id="footer-buttons"></div>
    </div>
  </div>
</wicket:panel>

</body>
</html>
