<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
  <link rel="stylesheet" href="../../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen" />
</head>
<body>

<wicket:extend>
  <a wicket:id="explore">explore</a>
  <a wicket:id="viewDeclaration">see declaration</a>
  <a wicket:id="addMaintainedResource">add maintained resource...</a>
  <a wicket:id="addTimeLimitedSpace">add time-limited space...</a>
  <a wicket:id="addOpenEndedSpace">add open-ended space...</a>
</wicket:extend>

</body>
</html>
