<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <link rel="stylesheet" href="../../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
</head>
<body>

<wicket:extend>
  <a wicket:id="showQuery">show query</a>
  <a wicket:id="adjust">edit view display...</a>
  <a wicket:id="deactivate">deactivate view display...</a>
  <a wicket:id="refreshNow">refresh now</a>
  <a wicket:id="viewDeclaration">show nanopub</a>
</wicket:extend>

</body>

</html>
