<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

<head>
  <link rel="stylesheet" href="../../../../../../webapp/style.css?for-local-testing-only" type="text/css" media="screen"
        title="Stylesheet"/>
</head>
<body>

<wicket:extend>
  <span wicket:id="viewActions" class="actionmenu-item"><a wicket:id="viewAction">action</a></span>
  <hr wicket:id="separator" class="actionmenu-separator"/>
  <a wicket:id="showQuery">show query</a>
  <a wicket:id="showView">show view</a>
  <a wicket:id="fullScreen"><span class="actionmenu-icon">⛶</span>full screen</a>
  <a wicket:id="adjust"><span class="actionmenu-icon">✎</span>edit view display...</a>
  <a wicket:id="deactivate"><span class="actionmenu-icon">⊘</span>deactivate view display...</a>
  <a wicket:id="addToOwn"><span class="actionmenu-icon">⊕</span>add to my own profile...</a>
  <a wicket:id="refreshNow"><span class="actionmenu-icon">↻</span>refresh now</a>
  <a wicket:id="viewDeclaration">show nanopub</a>
</wicket:extend>

</body>

</html>
