@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Martian";
  src: url("fonts/MartianMono-StdxLt.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Martian";
  src: url("fonts/MartianMono-StdLt.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --gap: 1.5em;
}

@media screen and (min-width: 576px) {
  :root {
    --gap: 2em;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --gap: 3em;
  }
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

.row-section {
  width: 1320px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.row-section::after {
  content: "";
  clear: both;
  display: table;
}

.row-section > div > div > img {
  padding: 15px;
}

.odd {
  background: #F3F6F9;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

[class*="col-"].header {
  padding-bottom: 0;
}

[class*="col-"].subheader {
  padding-top: 0;
}

[class*="col-"].footer {
  padding-top: 0;
}

[class*="col-"].header h1, [class*="col-"].header h2, [class*="col-"].header h3 {
  margin-bottom: 0;
}

.columncontainer {
  display: flex;
  column-gap: 60px;
  row-gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

.columnelement {
  width: 45%;
}

html {
  height: 100%;
  text-size-adjust: none;
}

body {
  color: #222;
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 12pt;
  margin: 0;
  height: 100%;
  min-width: 1420px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  background-color: inherit;
  clear: both;
  font-family: Martian, monaco, monospace;
  font-weight: bold;
  margin-top: 5mm;
}

h1, h2 {
  margin-bottom: 5mm;
}

h4, h5, h6 {
  font-size: 12pt;
}

h5, h6 {
  font-style: italic;
}

p.subtitle {
  margin-bottom: 24px;
  font-family: Martian, monaco, monospace;
  font-style: italic;
  font-size: 10pt;
}

p.center {
  text-align: center;
}

.title .logo {
  display: inline-block;
  background-image: url("images/logo.svg");
  width: 66.23mm;
  height: 12mm;
  vertical-align: middle;
}

.title .orglogo {
  display: inline-block;
  background-image: url("images/by-kpxl.svg");
  width: 21.72mm;
  height: 6mm;
  vertical-align: middle;
}

.menu {
  display: inline-block;
  font-size: 17px;
  margin-left: 40px;
  font-family: Martian, monaco, monospace;
  vertical-align: middle;
}

.menu a {
  display: inline-block;
  padding: 12px 16px;
  color: #1A1F23;
  opacity: 0.6;
  font-weight: 700;
}

.menu .selected a {
  display: inline-block;
  padding: 12px 16px 9px 16px;
  border-bottom: 3px solid #0b73da;
  color: #1A1F23;
  opacity: 1;
  font-weight: 700;
}

.menu a:hover {
  color: #1A1F23;
  opacity: 1;
}

.menu a:active {
  color: #1A1F23;
  opacity: 1;
}

section {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  section div.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
  }
}

section div.container div.column {
  display: block;
  margin-bottom: calc(2 * var(--gap));
}

@media screen and (min-width: 576px) {
  section div.container div.column {
    margin-bottom: 0;
  }
}

li {
  margin-top: 2mm;
}

table {
  width: 100%;
  font-size: inherit;
  margin-bottom: 30px;
}

div.nanopub-pubinfo td {
  padding: 5px;
}

table, th, td {
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  vertical-align: top;
  text-align: left;
}

th {
  border-bottom: 1px solid #888;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

table.activitypanel td {
  background: white;
}

table.activitypanel td.low {
  background: #0B73DA40;
}

table.activitypanel td.med {
  background: #0B73DA80;
}

table.activitypanel td.high {
  background: #0B73DAc0;
}

table.paramtable {
  width: unset;
}

table.paramtable td {
  background: white;
}

div.large-table table {
  max-width: 100%;
}

.box {
  background: #F3F6F9;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.box.main a {
  font-weight: bold;
}

.box div.option:not(:last-child) {
  margin-bottom: 15px;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul:has(li) + .emptynotice {
  display: none;
}

.hide-if-empty:has(ul:empty) {
  display: none;
}

.hide-if-empty:has(.hide-if-empty-trigger:empty) {
  display: none;
}

.header.hide-if-empty:not(:has(+ .content.hide-if-empty)) {
  display: none;
}

.emptynotice {
  margin-top: 0;
}

ul:not(:has(li)) {
  display: none;
}

ul.box {
  padding: 25px 25px 25px 40px;
}

.box.odd {
  background: white;
}

ul.box li:not(:last-child) {
  margin-bottom: 15px;
}

img {
  vertical-align: middle;
}

img.thirdparty {
  filter: grayscale(1);
}

.nanopub-icon {
  display: inline-block;
  background-image: url("nanopub-icon.svg");
  vertical-align: top;
  margin-top: 6px;
  width: 12px;
  height: 12px;
}

.user-icon {
  display: inline-block;
  background-image: url("images/user-icon.svg");
  vertical-align: top;
  margin-top: 6px;
  width: 12px;
  height: 12px;
}

.api-icon {
  display: inline-block;
  background-image: url("images/api-icon.svg");
  vertical-align: top;
  margin-top: 6px;
  width: 12px;
  height: 12px;
}

.textfield-icon {
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

ul.users {
  list-style-image: url('images/user-icon.svg');
}

.users ul {
  list-style-image: url('images/user-icon.svg');
}

.form-icon {
  display: inline-block;
  background-image: url("images/form-icon.svg");
  vertical-align: top;
  margin-top: 6px;
  width: 12px;
  height: 12px;
}

ul.forms {
  list-style-image: url('images/form-icon.svg');
}

.forms ul {
  list-style-image: url('images/form-icon.svg');
}

li:has(.templateref) {
  list-style-image: url('images/form-icon.svg');
}

.sidelogo {
  margin-bottom: 50px;
}

hr {
  background: #ccc;
  border: 0;
  height: 1px;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

a {
  color: #0b73da;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #6eb2f7;
}

a:active {
  color: #6eb2f7;
}

span.prelink {
  color: #888;
}

.button {
  font-size: 12pt;
  font-weight: 700;
  padding: 8px 16px;
  margin: 3px;
  background-color: #0B73DA;
  color: #fff;
  border-width: 0;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.button.light {
  background-color: transparent;
  color: #0B73DA;
  border: 1px solid #0B73DA;
}

.button > * {
  vertical-align: middle;
}

.smallbutton {
  font-size: 11pt;
  font-weight: 700;
  padding: 0 5px;
  margin: 0;
  background-color: #0B73DA;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  line-height: 20px !important;
  min-width: 10px;
  text-align: center;
}

.button:hover, .smallbutton:hover {
  background-color: #0B73DAC0;
  color: #fff;
}

a.actionlink {
  font-family: Inter, Verdana, Helvetica, sans-serif !important;
  font-style: italic !important;
  font-size: 10pt !important;
  opacity: 0.5;
}

::placeholder {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  color: #888;
  opacity: 1;
  font-size: 9pt;
}

::-webkit-input-placeholder { /* Edge */
  font-family: Inter, Verdana, Helvetica, sans-serif;
  color: #888 !important;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Inter, Verdana, Helvetica, sans-serif;
  color: #888 !important;
  opacity: 1;
}

.select2-selection {
  border-color: #ccc !important;
}

.select2-selection__placeholder {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  color: #888 !important;
  opacity: 1;
}

.select2-selection__placeholder strong {
  font-weight: normal; /* ignore <strong> in Select2 placeholders */
}

.select2-search--dropdown::before {
  content: "search/filter:";
  font-size: 60%;
}

.select2-selection__rendered {
  max-height: 28px;
}

.select2-selection__rendered > span.term {
  display: inline-block;
  margin-top: 3px;
}

.select2-dropdown span.term {
  font-weight: bold;
}

.select2-dropdown.select2-dropdown--below {
  min-width: 600px !important;
  margin-top: -1px;
  border-top: solid 1px #aaa;
}

button.select2-selection__clear {
  color: #888;
}

select.provselect {
  width: 600px;
}

select.pubinfoadd {
  width: 150px;
}

strong {
  font-weight: bold;
}

.detail {
  font-size: 9pt;
  font-weight: normal;
}

code {
  font-family: Martian, monaco, monospace;
  font-size: 80%;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: #0002;
  background: #00000008;
  padding: 1px 3px;
  margin: 1px 3px;
}

code.chars {
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
}

code.bold {
  font-weight: bold;
}

span.term {
  vertical-align: middle;
}

.select2-selection__placeholder span.term {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 9pt;
  vertical-align: middle;
  padding-top: 4px;
}

input, select, textarea {
  padding: 3px 5px;
  border-color: #ccc;
  background-color: #fff;
  color: #000;
  accent-color: #0B73DAC0;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

input[type=text] {
  height: 28px;
}

input[type=radio] {
  cursor: pointer;
}

input[type=radio] + strong {
  color: #0b73da;
  cursor: pointer;
}

input[type=radio] + label strong {
  color: #0b73da;
  cursor: pointer;
}

.input-marker {
  vertical-align: top;
}

.introduced {
  border-style: solid;
  border-color: #ffbb00;
  border-width: 2px;
}

.select2 {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 11pt;
}


.actionmenu-button {
  font-size: 7pt;
  font-weight: 700;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 1px;
  background-color: #0B73DA;
  color: #fff;
  border-width: 0;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  line-height: 20px !important;
  text-align: center;
}

.actionmenu {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

.actionmenu-content {
  display: none;
  position: absolute;
  border-color: #666 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 2px !important;
  font-weight: normal;
  font-size: 10pt;
  background-color: #fff;
  min-width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.actionmenu-content a {
  color: #000 !important;
  margin: 0 !important;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.actionmenu-content a:hover {
  background-color: #ccc;
}

.actionmenu:hover .actionmenu-content {
  display: block;
}

.actionmenu:hover .actionmenu-button {
  background-color: #0B73DAC0;
}


.invalid, select.invalid + span > span > span, input.invalid + label {
  border-color: #A01208 !important;
  border-width: 3px !important;
}

input.invalid + label {
  color: #A01208 !important;
}

select {
  width: 350px;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

#titlebar {
  clear: both;
  padding: 0 10px;
  background-color: white;
  border-color: #F3F6F9;
  border-style: solid;
  border-width: 0 0 4px 0;
}

#titlebar::after {
  content: "";
  clear: both;
  display: table;
}

.breadcrumbpath {
  font-family: Martian, monaco, monospace;
  font-weight: 700;
  font-size: 9pt;
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  border-style: solid;
  border-width: 0 0 4px 0;
}

.breadcrumbpath [class*="col-"] {
  padding: 10px 0;
}

.breadcrumbpath .row-section {
  padding-bottom: 0;
}

.breadcrumbpath .nextlevel {
  font-size: 24px;
  margin: -10px 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
}

.status {
  color: #888888;
}

#content-pane {
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 60px;
}

#content-pane.plain {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#content-pane.full {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px;
}

.typetag {
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 2px;
  background-color: #aaa;
  border-radius: 3px;
  white-space: nowrap;
}

.positivetag {
  font-size: 14px;
  padding: 4px 10px;
  margin-left: 10px;
  background-color: #c2f2cc;
  border-radius: 3px;
  white-space: nowrap;
}

.meta-action {
  margin: 15px 3px 0 3px;
}

.meta {
  color: #222;
  margin: 10px 10px 0 3px;
  font-weight: bold;
}

a.meta:hover, a.meta:active, .meta a:hover, .meta a:active {
  color: #aaa;
}

.postmeta {
  margin: 0 10px 10px 5px;
  color: #222;
}

.typetag a, .typetag a:hover, .typetag a:active {
  color: white;
}

.positive {
  color: #26A008;
}

.negative {
  color: #A01208;
}

.valueitem {
  margin: 2px 6px 2px 0;
  overflow-wrap: anywhere;
  display: inline-block;
  vertical-align: top;
}

.valueitem:empty {
  display: none;
}

.valueitem span {
  vertical-align: top;
}

.fullstop {
  margin: 2px;
  padding: 4px 0;
  display: inline-block;
  vertical-align: top;
}

.quote {
  padding: 2px;
  display: inline-block;
}

.graphheader {
  margin-bottom: 1.5mm;
}

.graphsubheader {
  margin-top: 1.5mm;
  margin-bottom: 0;
}

.assertionsection {
  padding-left: 10px;
  margin-left: -20px;
  border-style: solid;
  border-width: 0 0 0 10px;
  border-color: #ffbb00;
}

.assertionsection .graphheader strong {
  color: #ffbb00;
  font-size: 14pt;
  font-family: Martian, monaco, monospace;
  font-weight: 700;
  margin-right: 15px;
}

.provsection {
  padding-left: 10px;
  margin-left: -20px;
  border-style: solid;
  border-width: 0 0 0 10px;
  border-color: #8d3b72;
}

.provsection .graphheader strong {
  color: #8d3b72;
  font-size: 14pt;
  font-family: Martian, monaco, monospace;
  font-weight: 700;
  margin-right: 15px;
}

.pubinfosection {
  padding-left: 10px;
  margin-left: -20px;
  border-style: solid;
  border-width: 0 0 0 10px;
  border-color: #325981;
}

.pubinfosection .graphheader strong {
  color: #325981;
  font-size: 14pt;
  font-family: Martian, monaco, monospace;
  font-weight: 700;
  margin-right: 15px;
}

.templatename {
  font-weight: 700;
}

.nanopub a {
  color: #444;
  padding: 2px;
  margin: 1px;
}

.nanopub a:hover {
  color: #666;
}

.nanopub a:active {
  color: #666;
}

.nanopub {
  position: relative;
  color: #000;
  margin: 0 0 0 0;
  padding: 0.1px 3px 3px 3px;
  border-radius: 13px;
}

div.nanopub-prefixes {
  display: none;
  margin-top: 3px;
}

div.nanopub-head {
  display: none;
  background: #e8e8e8;
  padding: 10px;
  margin-top: 3px;
  border-radius: 10px;
}

.nanopub {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 11pt;
  color: #444;
  margin: 0 0 0 0;
  padding: 0.1px 3px 3px 3px;
  border-radius: 4px;
}

div.nanopub-graph {
  background: #F3F6F9;
  padding: 12px 15px 10px 15px;
  margin-top: 3px;
  border-radius: 4px;
  min-height: 50px;
}

div.nanopub-pubinfo:first-of-type {
  margin-top: 3px;
  border-radius: 4px;
}

div.nanopub-pubinfo:last-of-type {
  border-radius: 4px;
}

span.nanopub-assertion, span.nanopub-provenance, span.nanopub-pubinfo {
  padding: 0 5px;
  margin-top: 0;
  border-radius: 5px;
}

.nanopub-textfield {
  width: 350px;
}

.nanopub-textfield.wide {
  width: 350px;
}

/* deactivate for now, because short textfields can currently also hold full URIs
.nanopub-textfield.short {
  width: 250px;
}
*/

.pubinfosection .nanopub-pubinfo {
  display: none;
}

.pubinfosection .nanopub-pubinfo:first-child {
  display: block;
}

.readonly {
  background: white;
  padding: 4px !important;
  border-radius: 2px;
  white-space: pre-wrap;
}

.litlang {
  font-size: 9pt !important;
  color: #0006 !important;
}

.litdatatype {
  font-size: 9pt !important;
  color: #0006 !important;
}

/*
.this-assertion {
  background: #99ccff;
  border-style: solid;
  border-width: 1px;
  border-color: #88aaff;
  padding: 4px;
  border-radius: 4px;
}

.this-nanopub {
  background: #ffffff;
  background-image: url(npback-left.png);
  border-width: 1px;
  border-color: #666;
  border-style: solid;
  padding: 4px 4px 4px 20px;
  border-radius: 4px;
}
*/

.nanopub-statement {
  padding: 2px 1px;
  /*text-indent: 20px hanging;*/
}

.nanopub-group .nanopub-statement {
  padding: 4px 2px;
}

.nanopub-statement a {
  line-height: 26px;
  vertical-align: top;
}

/*
.nanopub-statement input, .nanopub-statement select, .nanopub-statement textarea, .select2-container {
  margin: 2px 0;
}
*/

.nanopub-statement:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.nanopub table {
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 11pt;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  text-indent: 0 !important;
  padding: 5px;
  min-width: 500px;
  max-width: 800px;
  border-radius: 0 5px 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
}

a.tooltiptext {
  font-family: Martian, monaco, monospace !important;
}

/*
.tooltip:hover a {
  color: #fff;
  font-weight: bold;
}

.tooltip:hover {
  background-color: black;
}
*/

.tooltiptext a {
  color: #fff;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin: 5px;
}

.tooltiptext:has(> a:empty) {
  display: none;
}

a[href=""] {
  pointer-events: none;
}

.uri {
  font-family: Martian, monaco, monospace;
  white-space: nowrap;
  display: block;
  margin: 0 !important;
}

.expltooltip {
  font-size: 12pt;
  position: relative;
  display: inline-block;
}

.expltooltip.info-icon:empty {
  display: none;
}

.expltooltip .expltooltiptext {
  visibility: hidden;
  background-color: white;
  border-style: solid;
  border-color: #bdbdbd;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-top: 5px;
  left: 100%;
  margin-left: 5px;
  width: 600px;
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  clear: none;
}

.expltooltip:hover .expltooltiptext {
  visibility: visible;
}

.expltooltip .expltooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin: 5px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.profilelink {
  float: right;
  padding: 12px 20px;
}

.figure {
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  margin: 10px;
}

.widthlimit {
  width: 1400px;
}


.nanopub-group {
  padding: 8px 4px;
  margin: 16px -5px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.nanopub-optional {
  position: relative;
  padding: 8px 4px;
  margin: 16px -5px;
  border-radius: 8px;
  margin-bottom: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.optional-label {
  position: absolute;
  bottom: -14px;
  left: 8px;
  color: rgba(0, 0, 0, 0.3);
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 9pt;
  line-height: 1.0;
}

.nanopub-statement-float {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 3px;
  float: right;
}

.optional-label:empty {
  display: none;
}

.separate-statement {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  margin-top: 10px;
}

.nowrap {
  white-space: nowrap;
}

hr {
  margin: 8px 0 8px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.filter {
  margin-top: 10px;
  margin-bottom: 25px;
}

.filter > span {
  background-color: #F3F6F9;
  border-radius: 4px;
  padding: 5px 10px;
}

.filter > input + label + span {
  display: none;
}

.filter > input:checked + label + span {
  display: inline;
}

.pubkeyselect input {
  margin-left: 3mm;
}

.pubkeyselect input + label {
  color: #666;
}

.pubkeyselect input:checked + label {
  color: #000;
}

.message {
  background: #F3F6F9;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.message p, .message h1, .message h2, .message h3, .message h4, .message h5, .message h6 {
  margin: 8px 0;
}

.message.plain {
  background: white;
  margin: 0;
  padding: 0;
}

.instruction {
  background: #DAE5F1;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.instruction p, .instruction h1, .instruction h2, .instruction h3, .instruction h4, .instruction h5, .instruction h6 {
  margin: 8px 0;
}

blockquote {
  background: #F3F6F9;
  padding: 10px;
  border-radius: 4px;
}

div.widthmax {
  margin-bottom: 50px;
}

.itemtitle {
  font-family: Martian, monaco, monospace;
  font-size: 130%;
  font-weight: bold;
  margin-top: 5mm;
  margin-bottom: 5mm;
}

.item {
  text-align: center;
}

.breakall {
  word-break: break-all;
}

.progress {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.progress .progress-item:first-child {
  margin-left: -22%;
}

.progress .progress-item:last-child {
  margin-right: -22%;
}

.progress-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.progress-item::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #bdbdbd;
  top: 10px;
  width: 92%;
  left: 54%;
}

.progress-item .step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #bdbdbd;
  margin-bottom: 6px;
}

.progress-item .step-name {
  font-family: Martian, monaco, monospace;
  color: #bdbdbd;
  font-size: 10pt;
  white-space: nowrap;
}

.progress .progress-item:first-child .step-name {
  width: 30px;
}

.progress .progress-item:last-child .step-name {
  width: 30px;
  direction: rtl;
}

.progress-item.active {
  font-weight: bold;
}

.progress-item.completed .step::before {
  content: "✓";
  font-weight: bold;
  font-size: 14pt;
}

.progress-item.completed .step {
  border-width: 0;
  background-color: #0b73da;
  color: #fff;
}

.progress-item.completed .step-name {
  color: #0b73da;
}

.progress-item.active .step {
  border: 6px solid #0b73da;
}

.progress-item.active .step-name {
  color: #0b73da;
  font-weight: bold;
}

.progress-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #0b73da;
  top: 10px;
  width: 92%;
  left: 54%;
}

.progress-item:first-child::before {
  content: none;
}

.progress-item:last-child::after {
  content: none;
}

span.internal * {
  margin: 0;
  background: white;
}

span.internal img {
  max-height: 100px;
  max-width: 500px;
}

span.internal {
  display: inline-block;
  background: white;
  max-width: 600px;
  text-indent: 0;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.refresh-icon {
  display: inline-block;
  background-image: url("images/refresh.svg");
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.info-icon {
  display: inline-block;
  background-image: url("images/info.svg");
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.collapse-overflow {
  position: relative;
}

.collapse-content {
  display: inline-block;
  overflow: hidden;
  padding-right: 50px;
}

.nanopub-assertion {
  position: relative;
}

.expand {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  margin: 21px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  background: white;
  border-radius: 3px;
  border: 3px solid #F3F6F9;
  background-image: url("images/down-arrow.svg");
}

.expand:hover {
  opacity: 0.7;
}

.nanopub-assertion .expand {
  display: none;
  margin: 21px 18px 18px 21px;
}

.message.plain .expand {
  margin: 6px;
  border-color: white;
  background: #F3F6F9;
  background-image: url("images/down-arrow.svg");
}

.collapse {
  position: absolute;
  display: none;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  margin: 21px;
  cursor: pointer;
  text-align: center;
  background: white;
  border-radius: 3px;
  border: 3px solid #F3F6F9;
  background-image: url("images/down-arrow.svg");
  transform: scale(1, -1);
}

.collapse:hover {
  opacity: 0.7;
}

.message.plain .collapse {
  margin: 6px;
  border-color: white;
  background: #F3F6F9;
  background-image: url("images/down-arrow.svg");
}

.listcomponent {
  position: relative;
}

.listcomponent .listaction {
  position: absolute;
  right: 0;
  top: 0;
}

div.success-message {
  border: 2px solid #26A008;
  border-radius: 4px;
  padding: 12px 18px;
  margin-bottom: 30px;
}

div.success-message strong::before {
  color: #26A008;
  content: "✓ ";
  font-weight: bold;
}

div.success-message p {
  padding: 0;
  margin: 5px 0;
}

.gap-above {
  margin-top: 3em;
}

p.waiting {
  color: #ccc;
}

.listview img { /* for wait icon */
  padding: 15px;
}

span.usertext {
  background: #ffb;
  padding: 3px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* we need this because the NanopubResults first load vs cached has an additional <div> */
.flex-container > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.long-literal {
  max-height: 80px; /* if you change this also update it in the showMore() function of the nanodash.js file */
  overflow-y: hidden;
  position: relative;
  max-width: 50ch;
  display: inline-block;
  vertical-align: bottom !important;
  padding-bottom: 30px;
  padding-left: 20px;
  text-indent: 0;
}

.collapsed::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, white 50%);
}

.expanded::after {
  display: none;
}

.value-container {
  position: relative;
  display: inline-block;
}

.show-more {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #0b73da;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation {
  border-top-style: solid;
  border-width: 1px;
  border-color: #888;
  font-size: 11pt;
  color: #888;
}

.navigation .navigatorLabel {
  text-align: left;
  padding: 0;
  margin: 0;
  position: absolute;
}

div.navigator {
  text-align: right;
}

div.navigator a[disabled] {
  visibility: hidden;
}

div.navigator .goto a[disabled] {
  visibility: visible;
  color: #888;
}

.paneltitlerow {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #888;
  margin-bottom: 10px;
  width: 100%;
}

.inline * {
  display: inline;
  width: auto;
}

.inline .paneltitlerow h4 {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  margin-right: 5px;
  margin-top: 8px;
}

.inline .paneltitlerow {
  border-style: none;
  margin-bottom: 0;
}

.paneltitlerow.tablepanel {
  margin-bottom: 0;
}

.paneltitlerow h4 {
  margin: 22px 0 8px 0;
  display: inline-block;
}

.paneltitlerow span.buttons a.smallbutton {
  margin-left: 5px;
  margin-top: 20px;
}

.paneltitlerow span.buttons a.source {
  margin-left: 5px;
  margin-top: 20px;
  display: inline-block;
  background: none;
}

.paneltitlerow span.buttons {
  margin: 6px 0 6px 0;
  float: right;
}

.button-list a {
  margin-right: 10px;
}

.inline .listpanel ul {
  padding: 0;
}

.inline .listpanel li {
  display: inline;
}

.inline .listpanel li:after {
  content: "·";
}

.inline .listpanel li:last-child:after {
  content: "";
}

.nanopub-item {
  border-top: 1px solid #ccc;
  padding: 0;

}

.flex-container .nanopub-item {
  border: 1px solid #ccc;
  padding: 0 5px;
  flex: 0 0 calc(25% - 20px);
  min-width: 0;
  overflow: hidden;
}

.flex-container .navigation {
  display: block;
  flex-basis: 100%;
  width: 100%;
}

.view-selector {
  text-align: right;
  width: 100%;
  padding: 20px;
}

.view-selector span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.view-selector .list {
  background-image: url("images/bars-solid-full.svg");
}

.view-selector .grid {
  background-image: url("images/grip-solid-full.svg");
}

.flex-container.list-view,
.flex-container.list-view > div {
  display: block;
}

.flex-container.list-view .nanopub-item {
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.k-input-inner {
  width: 100% !important;
}

.date-container {
  display: inline-block;
  position: relative;
}

.clear-cross {
  cursor: pointer;
  color: #888;
  text-decoration: none;
}

.date-container .clear-cross {
  position: absolute;
  right: 40px;
  top: 50%;
  z-index: 2;
}

.filter-section {
  display: flex;
  gap: 24px;
  align-items: start;
}

.filter-container {
  display: flex;
  gap: 8px;
  position: relative;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  margin-top: 32px;
  padding: 20px;
}

.date-filter {
  align-items: center;
}

.date-label {
  font-size: 13px;
  color: #64748b;
  margin-right: 4px;
}

.type-chip {
  background: #e0e7ff;
  color: #1e293b;
  border-radius: 16px;
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  margin-right: 4px;
}

.filter-container-title {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 5px;
}

a.source {
  font-family: Martian, monaco, monospace;
  font-weight: bold;
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.2);
}

a.source:hover {
  color: rgba(0, 0, 0, 1.0);
}

.inline-list p,
.inline-list div {
  display: inline;
}