html {
	height:100%;
}

body {
	color: #222;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 0px;
	height:100%;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background-color: inherit;
	clear: both;
	font-weight: bold;
	margin-top: 5mm;
}

h4, h5, h6 {
	font-size: 12pt;
}

.title {
	font-size: 22pt;
	font-weight: bold;
}

.menu {
	font-size: 16pt;
	margin-left: 1em;
}

p.graphheader {
	margin-bottom: 1.5mm;
}

p.graphsubheader {
	margin-top: 1.5mm;
	margin-bottom: 0;
}

table {
	width: 100%;
	font-size: inherit;
}

table, th, td {
    border-collapse: collapse;
}

td, th {
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

th {
	border-bottom: 1px solid #000;
}

tbody tr:nth-child(even) {
	background-color: #efefef;
}

ul {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

img {
	vertical-align: middle;
}

hr {
	background: #ccc;
	border: 0;
	height: 1px;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 20px;
	margin-bottom: 15px;
}

a {
	color: #0066cc;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #3399ff;
}

a:active {
	color: #3399ff;
}

a.button, input.button {
	font-size: 12pt;
	padding: 5px 10px;
	margin: 3px;
	background-color: #eee;
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;
	display:inline-block;
	cursor: pointer;
}

a.button:hover, input.button:hover {
	background-color: #f8f8f8;
}

strong {
	color: black;
	font-weight: bold;
}

.detail {
	font-size: 9pt;
	font-weight: normal;
}

code {
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #ccc;
  background: #f8f8f8;
  padding: 2px 5px;
}

input, select {
  font-size: 12pt;
  padding: 3px;
}

select {
  width: 500px;
}

.hidden {
	display:none;
}

.visible {
	display:inline;
}

#titlebar {
	clear: both;
	padding: 0px 20px 0px 20px;
	background-color: #f8f8f8;
	border-color: #888;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#titlebar::after {
  content: "";
  clear: both;
  display: table;
}

#content {
	padding: 10px 20px;
}

#outer {
	background-color: #fff;
	height:100%;
}

.na {
  color: #99ccff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.no {
  color: #f3a08c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.status {
  color: #888888;
}

.backpane {
	background-color: #fff;
}

.meta-action {
	margin: 10px 3px 0 3px;
}

.meta {
	color: #666;
	margin: 10px 10px 0 5px;
}

a.meta:hover, a.meta:active {
	color: #aaa;
}

.postmeta {
	margin: 0 10px 20px 10px;
	color: #666;
}

.positive {
	color: #080;
}

.negative {
	color: #800;
}

.valueitem {
	margin-right: 15px;
}

.nanopub a { color: #000; }
.nanopub a:hover { color: #666; }
.nanopub a:active { color: #666; }

.nanopub { background-color: #666; font-family: monaco,monospace; font-size: 11pt; color: #444; margin: 0 0 0 0; padding: 0.1px 3px 3px 3px; border-radius: 13px; }
.nanopub-prefixes { display: none; margin-top: 3px; }
.nanopub-head { display: none; background: #e8e8e8; padding: 10px; margin-top: 3px; border-radius: 10px; }
.nanopub-assertion { background: #99ccff; padding: 10px; margin-top: 3px; border-radius: 10px; }
.nanopub-provenance { background: #f3a08c; padding: 10px; margin-top: 3px; border-radius: 10px; }
.nanopub-pubinfo { background: #ffff66; padding: 10px; margin-top: 3px; border-radius: 10px; }
.nanopub-context-switch { display: none; }

.nanopub-statement input { margin: 2px; }

.nanopub table {
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.profilelink {
	float: right;
	padding: 15px 20px;
}

.figure {
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  margin: 10px;
}

.widthlimit {
  width: 1000px;
}

.nanopub-optional { background: rgba(255, 255, 255, 0.5); padding: 8px; border-radius: 8px; margin-top: 3px; }
.optional-label { color: rgba(0, 0, 0, 0.3); font-family: Verdana, Helvetica, sans-serif; font-style: italic; margin-left: 15px; }

.nowrap {
  white-space: nowrap;
}