@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Martian";
  src: url("/fonts/MartianMono-StdxLt.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
	height:100%;
}

body {
	color: #222;
	font-family: Inter, Verdana, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 0px;
	height:100%;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background-color: inherit;
	clear: both;
	font-weight: bold;
	margin-top: 5mm;
}

h4, h5, h6 {
	font-size: 12pt;
}

h5, h6 {
	font-style: italic;
}

.title img.logo {
  height: 12mm;
}

.title img.orglogo {
  height: 6mm;
}

.menu {
	font-size: 14pt;
	margin-left: 1em;
	vertical-align: middle;
}

p.graphheader {
	margin-bottom: 1.5mm;
}

p.graphsubheader {
	margin-top: 1.5mm;
	margin-bottom: 0;
}

li {
	margin-top: 2mm;
}

table {
	width: 100%;
	font-size: inherit;
}

table, th, td {
    border-collapse: collapse;
}

td, th {
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

th {
	border-bottom: 1px solid #000;
}

tbody tr:nth-child(even) {
	background-color: #efefef;
}

ul {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

ul:not(:empty) + .emptynotice {
   display: none;
}

img {
	vertical-align: middle;
}

hr {
	background: #ccc;
	border: 0;
	height: 1px;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 20px;
	margin-bottom: 15px;
}

a {
	color: #0b73da;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #6eb2f7;
}

a:active {
	color: #6eb2f7;
}

a.button, input.button {
	font-size: 12pt;
	padding: 5px 10px;
	margin: 3px;
	background-color: #eee;
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;
	display:inline-block;
	cursor: pointer;
}

.smallbutton {
	font-size: 10pt;
	padding: 0px 5px;
	margin: 0;
	background-color: #eee;
	color: #000;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;
	display:inline-block;
	cursor: pointer;
    line-height: 20px !important;
}

a.button:hover, a.smallbutton:hover, input.button:hover {
	background-color: #f8f8f8;
}

a.actionlink {
  font-family: Inter, Verdana, Helvetica, sans-serif !important;
  font-style: italic !important;
  font-size: 10pt !important;
  opacity: 0.5;
}

::placeholder {
  font-family: Inter, Verdana, Helvetica, sans-serif;
}
::-webkit-input-placeholder { /* Edge */
  font-family: Inter, Verdana, Helvetica, sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Inter, Verdana, Helvetica, sans-serif;
}
.select2-selection__placeholder {
  font-family: Inter, Verdana, Helvetica, sans-serif;
}
.select2-selection__placeholder strong {
  font-weight: normal;  # ignore <strong> in Select2 placeholders
}

strong {
	font-weight: bold;
}

.detail {
	font-size: 9pt;
	font-weight: normal;
}

code {
  font-family: Martian,monaco,monospace;
  font-size: 80%;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: #0002;
  background: #00000008;
  padding: 1px 3px;
  margin: 1px 3px;
}

code.chars {
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
}

code.bold {
  font-weight: bold;
}

input, select, textarea {
  padding: 3px 5px;
  border-color: #ccc;
  background-color: #fff;
  margin: 3px;
  color: #000;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.select2 {
	font-family: Inter, Verdana, Helvetica, sans-serif;
	font-size: 11pt;
}

select.actionmenu {
  height: 20px;
  margin: 0;
  padding: 0;
}
.actionmenuspan {
  height: 20px;
}
.actionmenuspan .select2-container {
  margin: 0;
}
.actionmenuspan .select2-container .select2-selection--single {
  height: 18px !important;
  font-size: 10pt !important;
}
.actionmenuspan .select2-selection__arrow {
  height: 17px !important;
}
.actionmenuspan .select2-selection__rendered {
  line-height: 14px !important;
  color: rgba(0, 0, 0, 0) !important;
}
.actionmenuresults {
  border-color: #ccc !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 2px !important;
  font-size: 10pt;
}
.actionmenuresults span ul li {
  padding: 4px 10px 4px 4px !important;
}

select.actionmenu {
  width: 20px;
}

.invalid, select.invalid + span > span > span, input.invalid + label {
  border-color: #f00 !important;
  border-width: 3px !important;
}

input.invalid + label {
  color: #f00 !important;
}

select {
  width: 500px;
}

.hidden {
	display:none;
}

.visible {
	display:inline;
}

#titlebar {
	clear: both;
	padding: 0px 10px;
	background-color: #f8f8f8;
	border-color: #888;
	border-style: solid;
	border-width: 0 0 1px 0;
}

#titlebar::after {
  content: "";
  clear: both;
  display: table;
}

#content {
	padding: 10px 20px;
}

#outer {
	background-color: #fff;
	height:100%;
}

.na {
  color: #99ccff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.no {
  color: #f3a08c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.status {
  color: #888888;
}

.backpane {
	background-color: #fff;
}

.meta-action {
	margin: 10px 3px 0 3px;
}

.meta , .meta a {
	color: #666;
	margin: 10px 10px 0 5px;
}

a.meta:hover, a.meta:active, .meta a:hover, .meta a:active {
	color: #aaa;
}

.postmeta {
	margin: 0 10px 20px 10px;
	color: #666;
}

.positive {
	color: #080;
}

.negative {
	color: #f00;
}

.valueitem {
	margin-right: 12px;
	overflow-wrap: anywhere;
}

.nanopub a { color: #000; margin: 3px; }
.nanopub a:hover { color: #666; }
.nanopub a:active { color: #666; }
a.nanopub-assertion { color: #000; }
a:hover.nanopub-assertion { color: #666; }
a:active.nanopub-assertion { color: #666; }
a.nanopub-provenance { color: #000; }
a:hover.nanopub-provenance { color: #666; }
a:active.nanopub-provenance { color: #666; }
a.nanopub-pubinfo { color: #000; }
a:hover.nanopub-pubinfo { color: #666; }
a:active.nanopub-pubinfo { color: #666; }

.nanopub { background-color: #666; font-family: Martian,monaco,monospace; font-size: 10pt; color: #444; margin: 0 0 0 0; padding: 0.1px 3px 3px 3px; border-radius: 13px; }
#.nanopub { background-color: #666; color: #444; margin: 0 0 0 0; padding: 0.1px 3px 3px 3px; border-radius: 13px; }
.nanopub-prefixes { display: none; margin-top: 3px; }
.nanopub-head { display: none; background: #e8e8e8; padding: 10px; margin-top: 3px; border-radius: 10px; }
.nanopub-assertion { background: #99ccff; padding: 10px; margin-top: 3px; border-style: solid; border-width: 1px; border-color: #88aaff; border-radius: 10px; }
.nanopub-provenance { background: #f3a08c; padding: 10px; margin-top: 3px; border-radius: 10px; }
.nanopub-pubinfo { background: #ffff66; padding: 10px; margin-top: 3px; border-radius: 10px; }
.nanopub-context-switch { display: none; }

span.nanopub-assertion, span.nanopub-provenance, span.nanopub-pubinfo { padding: 0px 5px; margin-top: 0px; border-radius: 5px; }

.nanopub-statement span {
  line-height: 25px;
  vertical-align: top;
}

.nanopub-statement input, .nanopub-statement select, .nanopub-statement textarea {
  margin: 2px;
  font-family: Martian,monaco,monospace;
}
.nanopub-statement:after { 
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.nanopub table {
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family: Inter, Verdana, Helvetica, sans-serif;
  font-size: 11pt;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px;
  line-height: normal;
  min-width: 500px;
  max-width: 800px;
  border-radius: 0px 5px 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
}

#.tooltip:hover a {
#  color: #fff;
#  font-weight: bold;
#}
#
#.tooltip:hover {
#  background-color: black;
#}

.tooltiptext a {
  color: #fff; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin: 5px;
}

.uri {
  font-family: Martian,monaco,monospace;
  white-space: nowrap;
  display: block;
  margin: 0 !important;
}

.expltooltip {
  position: relative;
  display: inline-block;
}

.expltooltip .expltooltiptext {
  visibility: hidden;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  width: 1000px;
  font-size: 12pt;
  font-weight: normal;
  clear: none;
}

.expltooltip:hover .expltooltiptext {
  visibility: visible;
}

.expltooltip .expltooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin: 5px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.profilelink {
	float: right;
	padding: 15px 20px;
}

.figure {
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  margin: 10px;
}

.widthlimit {
  width: 1400px;
}

.nanopub-optional { background: rgba(255, 255, 255, 0.6); padding: 8px; border-radius: 8px; margin-top: 3px; }
.optional-label { color: rgba(0, 0, 0, 0.3); font-family: Inter, Verdana, Helvetica, sans-serif; font-style: italic; }
.nanopub-statement-float { margin-left: 15px; margin-right: 10px; margin-top: 3px; float:right; }

.nanopub-group { padding: 8px; border-radius: 8px; margin-top: 3px; border-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.3); }

.separate-statement { border-top: 1px solid rgba(0, 0, 0, 0.3); padding-top: 10px; margin-top: 10px; }

.nowrap {
  white-space: nowrap;
}

hr {
  margin: 8px 0 8px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.filter {
  margin-top: 10px;
  margin-bottom: 25px;
}

.filter > span {
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 3px;
  padding: 5px 10px;
}

.filter > input + label + span {
  display:none;
}

.filter > input:checked + label + span {
  display:inline;
}

.pubkeyselect input {
  margin-left: 3mm;
}

.pubkeyselect input + label {
  color: #666;
}

.pubkeyselect input:checked + label {
  color: #000;
}

.message {
  background: #eee;
  padding: 10px;
  margin-bottom: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 10px;
}

.message p, .message h1, .message h2, .message h3, .message h4, .message h5, .message h6 {
  margin: 8px 0;
}

.instruction {
  background: #fff8e0;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddc080;
  border-radius: 10px;
}

.instruction p, .instruction h1, .instruction h2, .instruction h3, .instruction h4, .instruction h5, .instruction h6 {
  margin: 8px 0;
}

blockquote {
  background: #eee;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 2px;
}

div.widthmax {
  max-width: 1400px;
  margin-bottom: 50px;
}
